annotated-types==0.7.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
dask==2024.10.0
dask-expr==1.1.16
fsspec==2024.10.0
idna==3.10
iniconfig==2.0.0
lmdb==1.5.1
locket==1.0.0
networkx==3.4.2
numpy==2.1.2
packaging==24.1
pandas==2.2.3
partd==1.4.2
pluggy==1.5.0
pyarrow==17.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pytest==8.3.3
pytest-asyncio==0.24.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
ruff==0.7.0
setuptools==75.2.0
six==1.16.0
toolz==1.0.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vaderSentiment==3.3.2
